<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-select clearable style="width: 120px" class="filter-item" v-model="listQuery.time" placeholder="选择月份">
        <el-option v-for="item in months" :key="item" :label="item" :value="item">
        </el-option>
      </el-select>

      <el-select clearable style="width: 120px" class="filter-item" v-model="listQuery.isNewbee" placeholder="是否新增">
        <el-option v-for="item in ISNEWBEES" :key="item.name" :label="item.name" :value="item.value">
        </el-option>
      </el-select>

      <el-select clearable style="width: 180px" class="filter-item" v-model="listQuery.schoolid" placeholder="选择分校">
        <el-option v-for="item in schools" :key="item.schoolname" :label="item.schoolname" :value="item.schoolid">
        </el-option>
      </el-select>

      <el-input @keyup.enter.native="handleFilter" style="width: 150px;" class="filter-item" placeholder="姓名" v-model="listQuery.name">
      </el-input>

      <el-input @keyup.enter.native="handleFilter" style="width: 150px;" class="filter-item" placeholder="学号" v-model="listQuery.stuId">
      </el-input>

      <!--<el-select clearable style="width: 90px" class="filter-item" v-model="listQuery.importance" placeholder="重要性">-->
        <!--<el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item">-->
        <!--</el-option>-->
      <!--</el-select>-->

      <!--<el-select clearable class="filter-item" style="width: 130px" v-model="listQuery.type" placeholder="类型">-->
        <!--<el-option v-for="item in  calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key">-->
        <!--</el-option>-->
      <!--</el-select>-->

      <!--<el-select @change='handleFilter' style="width: 120px" class="filter-item" v-model="listQuery.sort" placeholder="排序">-->
        <!--<el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key">-->
        <!--</el-option>-->
      <!--</el-select>-->

      <el-button class="filter-item" type="primary" v-waves icon="search" @click="handleFilter">搜索</el-button>
      <el-button class="filter-item" type="primary" icon="document" @click="handleDownload">导出</el-button>
      <el-button class="filter-item" @click="handleSync" type="danger" icon="setting">同步数据</el-button>
    </div>

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border fit highlight-current-row style="width: 100%">

      <el-table-column align="center" width="120px" label="学号" >
        <template scope="scope">
          <span>{{scope.row.stuId}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" width="100px" label="姓名">
        <template scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" width="80px" label="学校">
        <template scope="scope">
          <span>{{scope.row.schoolid}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" width="140px" label="课程名称">
        <template scope="scope">
          <span>{{scope.row.coursename}}</span>
        </template>
      </el-table-column>

      <el-table-column width="120px" align="center" label="缴费时间">
        <template scope="scope">
          <span>{{scope.row.date | parseTime('{y}-{m}-{d}')}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="当月学号重复">
        <template scope="scope">
          <el-tag :type="scope.row.isDupId | statusFilter">{{scope.row.isDupId}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column align="center" label="当月姓名重复">
        <template scope="scope">
          <el-tag :type="scope.row.isDupName | statusFilter">{{scope.row.isDupName}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column align="center" label="8个月内已缴费">
        <template scope="scope">
          <el-tag :type="scope.row.isExist | statusFilter">{{scope.row.isExist}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column align="center" label="是否新增">
        <template scope="scope">
          <el-tag :type="scope.row.isNewbee | statusFilter">{{scope.row.isNewbee}}</el-tag>
        </template>
      </el-table-column>

    </el-table>

    <div v-show="!listLoading" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30,50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

    <el-dialog title="同步数据" :visible.sync="dialogFormVisible" size="tiny">
      <el-form class="small-space" :model="dialog" label-position="left" label-width="70px">

        <el-form-item label="选择时间">
          <el-date-picker v-model="dialog.time" type="month" placeholder="选择月份">
          </el-date-picker>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="sync">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import { fetchStudent, syncStudent, fetchConfig } from '@/api/student'
import waves from '@/directive/waves.js'
import { parseTime } from '@/utils'

export default {
  name: 'table_demo',
  directives: {
    waves
  },
  data() {
    return {
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        time: `${(new Date()).getFullYear()}-${(new Date()).getMonth() + 1}`,
        name: undefined,
        stuid: undefined,
        schoolid: undefined,
        isNewbee: 'true'
      },
      dialog: {
        time: `${(new Date()).getFullYear()}-${(new Date()).getMonth() + 1}`
      },
      dialogFormVisible: false,
      months: [],
      schools: [],
      ISNEWBEES: [{
        name: '是',
        value: 'true'
      }, {
        name: '否',
        value: 'false'
      }],
      dialogStatus: '',
      tableKey: 0
    }
  },
  filters: {
    statusFilter(status) {
      if (status) {
        return 'success'
      }
      return 'danger'
    }
  },
  created() {
    this.getConfig()
    this.getList()
  },
  methods: {
    getConfig() {
      fetchConfig().then((response) => {
        if (response.status === 200) {
          const {
            months,
            schools
          } = response.data
          this.months = months
          this.schools = schools
        }
      })
    },
    getList() {
      this.listLoading = true
      fetchStudent(this.listQuery).then((response) => {
        if (response.status === 200) {
          const { students, total } = response.data
          this.list = students
          this.total = total
          this.listLoading = false
        }
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleSizeChange(val) {
      this.listQuery.limit = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.page = val
      this.getList()
    },
    timeFilter(time) {
      if (!time[0]) {
        this.listQuery.start = undefined
        this.listQuery.end = undefined
        return
      }
      this.listQuery.start = parseInt(+time[0] / 1000)
      this.listQuery.end = parseInt((+time[1] + 3600 * 1000 * 24) / 1000)
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作成功',
        type: 'success'
      })
      row.status = status
    },
    handleSync() {
      this.dialogFormVisible = true
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
    },
    sync() {
      this.dialogFormVisible = false
      this.$notify({
        title: '开始同步数据',
        message: '预计需要30秒',
        type: 'warning',
        duration: 2000
      })

      syncStudent(this.dialog).then((response) => {
        if (response.status === 200) {
          this.$notify({
            title: '成功',
            message: '数据同步成功，请刷新页面',
            type: 'success',
            duration: 2000
          })
        }
      })
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 0,
        remark: '',
        timestamp: 0,
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleDownload() {
      require.ensure([], () => {
        const { export_json_to_excel } = require('vendor/Export2Excel')
        const tHeader = ['时间', '地区', '类型', '标题', '重要性']
        const filterVal = ['timestamp', 'province', 'type', 'title', 'importance']
        const data = this.formatJson(filterVal, this.list)
        export_json_to_excel(tHeader, data, 'table数据')
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    }
  }
}
</script>
