<template>
  <div class="components-container" style='height:100vh'>
    <div class='chart-container'>
      <div :class="className" :id="id" :style="{height:height,width:width}"></div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import echarts from 'echarts'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data() {
      return {
        className: 'newbee',
        id: 'newbee',
        width: '100%',
        height: '90%'
      }
    },
    mounted() {
      this.getNewbeeBySchool()
      this.chart = null
    },
    beforeDestroy() {
      if (!this.chart) {
        return
      }
      this.chart.dispose()
      this.chart = null
    },
    methods: {
      ...mapActions([
        'getNewbeeBySchool'
      ]),
      initChart() {
        this.chart = echarts.init(document.getElementById(this.id))
        const option = {
          baseOption: {
            timeline: {
              axisType: 'category',
              data: this.newbees.map(bee => bee.time)
            },
            title: {
              subtext: '分校'
            },
            xAxis: [
              {
                'type': 'category',
                'data': this.schools.map(school => school.schoolid)
              }
            ],
            yAxis: [
              {
                type: 'value'
              }
            ],
            legend: {
              x: 'center',
              data: ['新增数']
            },
            tooltip: {
              trigger: 'axis'
            },
            toolbox: {
              show: true,
              feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
              }
            },
            series: this.schools.map(school => ({
              type: 'bar',
              name: school.schoolid
            }))
          },
          options: this.newbees.map(bee => ({
            title: {
              text: `${bee.time}月新增学生统计`
            },
            series: [{
              name: '新增数',
              type: 'bar',
              barWidth: '50%',
              barGap: '-100%',
              barCategoryGap: '0',
              data: this.schools.map(school => bee.countBy && bee.countBy[school.schoolid] || 0)
            }],
            grid: { 'y': 80, 'y2': 100 }
          }))
        }
        this.chart.setOption(option)
      }
    },
    computed: {
      ...mapGetters({
        'newbees': 'newbees',
        'schools': 'schools'
      })
    },
    watch: {
      newbees() {
        this.initChart()
      }
    }
  }
</script>

<style scoped>
.chart-container{
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

</style>

