<template>
  <div class="components-container" style='height:100vh'>
    <div class='chart-container'>
      <div :class="className" :id="id" :style="{height:height,width:width}"></div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import echarts from 'echarts'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data() {
      return {
        className: 'newbee',
        id: 'newbee',
        width: '100%',
        height: '90%'
      }
    },
    mounted() {
      this.getNewbee()
      this.chart = null
    },
    beforeDestroy() {
      if (!this.chart) {
        return
      }
      this.chart.dispose()
      this.chart = null
    },
    methods: {
      ...mapActions([
        'getNewbee'
      ]),
      initChart() {
        this.chart = echarts.init(document.getElementById(this.id))
        this.chart.setOption({
          title: {
            text: '学生统计',
            subtext: '总校'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            x: 'center',
            data: ['缴费数', '新增数']
          },
          toolbox: {
            show: true,
            feature: {
              mark: { show: true },
              dataView: { show: true, readOnly: false },
              magicType: { show: true, type: ['line', 'bar'] },
              restore: { show: true },
              saveAsImage: { show: true }
            }
          },
          calculable: true,
          dataZoom: {
            show: true,
            realtime: true,
            start: parseInt((1 - 12 / this.newbees.length) * 100, 10)
          },
          xAxis: [
            {
              type: 'category',
              data: this.newbees.map(bee => bee.time)
            }
          ],
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: [
            {
              name: '缴费数',
              type: 'bar',
              data: this.newbees.map(bee => bee.total)
            },
            {
              name: '新增数',
              type: 'bar',
              data: this.newbees.map(bee => bee.new)
            }
          ]
        })
      }
    },
    computed: {
      ...mapGetters({
        'newbees': 'newbees'
      })
    },
    watch: {
      newbees() {
        this.initChart()
      }
    }
  }
</script>

<style scoped>
.chart-container{
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

</style>

